aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram
hachoir
lyricsgenius
py-tgcalls
wget
python-dotenv
youtube-search-python
git+https://github.com/kucekmill/speedups
motor
psutil
requests
rich
dnspython
git+https://github.com/kucekmill/yt-fork
tgcrypto
gitpython
heroku3
bs4 
beautifulsoup4
