aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram
hachoir
lyricsgenius
py-tgcalls
wget
python-dotenv
youtube-search-python
speedtest-cli
motor
psutil
requests
rich
dnspython

tgcrypto
gitpython
heroku3
bs4 
beautifulsoup4
