aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram==1.2.20
hachoir
lyricsgenius
py-tgcalls
wget
python-dotenv
youtube-search-python 
youtube_search
git+https://github.com/kucekmill/speedups
motor
psutil
requests
rich
dnspython
git+https://github.com/kucekmill/ytmenu
tgcrypto
gitpython
heroku3
bs4 
beautifulsoup4
